.kvkk_doc
    div
    p.c21
        span(style='\
        overflow: hidden;\
        display: inline-block;\
        margin: 0px 0px;\
        border: 0px solid #000000;\
        transform: rotate(0rad) translateZ(0px);\
        -webkit-transform: rotate(0rad) translateZ(0px);\
        width: 244px;\
        height: 88px;\
        ')
        img(alt='ok içeren bir resim\
        Açıklama otomatik olarak oluşturuldu' src='/images/kvkk_logo.png' style='\
        width: 244px;\
        height: 88px;\
        margin-left: -0px;\
        margin-top: -0px;\
        transform: rotate(0rad) translateZ(0px);\
        -webkit-transform: rotate(0rad) translateZ(0px);\
        ' title='')
    p.c11.c14.c26
    span.c4
    p.c11.c27
    span.c12.c29 Privacy Notice
    p.c6.c11.c14.c33
    span.c12.c1
    a(id='t.e26a2913f9bc16f5ac34e19ca7575a8a05615102')
    a(id='t.0')
    table.c34
    tr.c24
        td.c30(colspan='1' rowspan='1')
        p.c6
            span.c10.c1 Data Controller
        td.c8(colspan='1' rowspan='1')
        p.c6.c11
            span.c1
            | T&uuml;rkiye&rsquo;nin Otomobili Giri&scedil;im Grubu Sanayi ve
            | Ticaret Anonim &Scedil;irketi (&lsquo;&lsquo;
            span.c1.c20 Togg
            span.c15.c1 &rsquo;&rsquo;)
    tr.c24
        td.c30(colspan='1' rowspan='1')
        p.c6
            span.c1.c10 Address
        td.c8(colspan='1' rowspan='1')
        p.c11.c28
            span.c1.c5
            | Bili&scedil;im Vadisi, Muallimk&ouml;y Mahallesi, Deniz Caddesi,
            | No:143/1 41400 Gebze/Kocaeli-T&uuml;rkiye
    p.c7.c14
    span.c4
    p.c6.c11
    span.c0 Introduction
    p.c6.c11.c14
    span.c15.c1
    p.c6.c11
    span.c1
        | As Togg, we highly value the protection of your personal data. 
        | We have prepared this Privacy Notice in accordance with the
        | Personal Data Protection Law No. 6698 
    span.c20.c1 (‘‘Law’’
    span.c1 or
    span.c20.c1 “KVKK”)
    span.c15.c1
        | and The Communique`on Principles and Procedures To Be Followed In Fulfillment
        | of the Obligation to Inform, in order to inform our guests about the processing
        | of their personal data within the scope of Togg Gemlik Facility opening ceremony
        | NFT creation activities.
    p.c6.c11.c14
    span.c1.c15
    p.c6.c11
    span.c1
        | Within the scope of Togg Gemlik Campus opening ceremony NFT creation activities,
        | your personal data regarding 
    span.c20.c5.c1 identity information
    span.c5.c1 (name, surname) and
    span.c20.c5.c1 contact information
    span.c5.c1
        | (e-mail address, NFT wallet address, company name) will be collected via electronic
        | forms and processed by Togg. Your personal data will be processed limitedly for the
        | purposes of conducting NFT creation processes, conducting communication activities,       
    span.c5.c1.c19
        | and organization and event management according to the ‘‘Processing of data is necessary
        | for the legitimate interests pursued by the data controller, provided that this processing
        | shall not violate the fundamental rights and freedoms of the data subject’’ legal basis 
        | regulated in the 2nd paragraph of Article 5 of the KVKK.
    p.c6.c11.c14
    span.c2.c1
    p.c6.c11
    span.c1
        | Your processed personal data may be transferred to authorized public institutions and organizations
        | within the scope of the above-mentioned purposes; in accordance with Article 8 of the KVKK, under legal
        | regulations and legislation in order to fulfill our legal obligations, and by taking the necessary technical
        | and administrative measures.
    p.c6.c11.c14
    span.c1.c2
    p.c7
    span.c0.c5
        | What Are Your Rights on Personal Data?
    p.c7
    span.c2.c1 You have the right to request;
    p.c6.c11.c13
    span.c2.c1
        | &#x25CF;
        | Ki&scedil;isel
        | to learn whether your personal data are processed or not,
    p.c6.c13.c11
    span.c2.c1
        | &#x25CF;
        | to demand for information as to if your personal data have been processed,
    p.c6.c13.c11
    span.c2.c1
        | &#x25CF;
        | to learn the purpose of the processing of your personal data and whether these
        | personal data are used in compliance with the purpose,
    p.c6.c13.c11
    span.c2.c1
        | &#x25CF;
        | to know the third parties to whom your personal data are transferred in country or abroad,
    p.c6.c13.c11
    span.c2.c1
        | &#x25CF;
        | to request the rectification of the incomplete or inaccurate data, if any,
    p.c6.c13.c11
    span.c2.c1
        | &#x25CF;
        | to request the erasure or destruction of your data under the conditions referred to in KVKK,
    p.c6.c13.c11
    span.c2.c1
        | &#x25CF;
        | to request reporting of the operations carried out to third parties to whom your
        | personal data have been transferred,
    p.c6.c13.c11
    span.c2.c1
        | &#x25CF;
        | to object to the occurrence of a result against yourself by analyzing the data processed
        | solely through automated systems,
    p.c3
    span.c2.c1
        | &#x25CF;
        | to claim compensation for the damage arising from the unlawful processing of your personal data.
    p.c7
    p.c6.c11
    span.c0 How To Exercise Your Rights As a Data Subject?
    p.c23.c11
    span.c15.c1
        | By sending an electronic mail message to
    ul.c31.lst-kix_list_1-0.start
    li.c9.c23.li-bullet-0
        span.c5.c18.c1 togg.kvkk@togg.com.tr
        span.c15.c1
        | address,
    li.c6.c9.li-bullet-0
        span.c15.c1 By filing an application personally with a valid identity card,
    li.c6.c9.li-bullet-0
        span.c1 By sending a wet-signed application accompanied by a photocopy of your identity card, to the address of 
        span.c5.c1
        | Bili&scedil;im Vadisi, Muallimk&ouml;y Mahallesi Deniz Caddesi
        | No:143/1 41400 Gebze/Kocaeli
    li.c6.c9.li-bullet-0
        span.c1 By sending an e-mail message with mobile signature or secure electronic signature to 
        span.c5.c1.c18 togg.kvkk@togg.com.tr
        span.c15.c1 address,
    li.c7.c16.li-bullet-0
        span.c1
        | By sending it to the registered electronic mail address of Togg 
        span.c5.c18.c1.c32 turkiyeninotomobili@hs01.kep.tr
        span.c15.c1
        | via using registered electronic mail (REM) address and secure electronic signature
        | or mobile signature
    p.c11.c17
    p.c25.c11
    span.c2.c1
        | In accordance with Communique On The Principles And Procedures For The Request To The Data Controller,
        | the application filed by the Data Subject is required to contain such information as first name, surname,
        | signature (if the application is in writing), T.R. identity number (if the applicant is a foreigner, nationality,
        | passport number, or if any, identity number), residential or office address for notification purposes, and if any,
        | electronic mail address for notification purposes, telephone number, fax number, and information about the subject of request.
    p.c11.c25
    span.c2.c1
        | The Data Subject shall expressly and understandably state the matter requested in the application, including the explanations regarding
        | the exercise of the rights mentioned above and the rights that she/he requests to exercise. All information and documents related to the
        | application should be attached to the application
    p.c7
    span.c2.c1
        | Although the subject of the request must be related to the person who makes the applicant, if acting on behalf of someone else, the applicant
        | must be specifically authorized in this regard and this authorization must be documented (letter of proxy). In addition, the application is
        | required to contain identity and address information, and documents on proof of identity are required to be attached to the application.
    p.c6.c11
    span.c2.c1
        | Requests filed by unauthorized third parties on behalf of someone else will not be taken into consideration. 
    p.c6.c11.c14
    span.c2.c1
    p.c6.c11
    span.c12.c5.c1
        | How Long Your Requests Will Be Answered Regarding Your Processed Personal Data?
    p.c6.c11.c14
    span.c5.c1.c12
    p.c6.c11
    span.c5.c1
        | Your requests regarding your personal data are evaluated and answered as soon as possible and within
        | 30 days at the latest from the date they reach Togg. If your request is accepted or rejected by explaining
        | the reason, then, our answer will be sent to the address you specified in the application, primarily by
        | postal or e-mail, if possible, in the same manner as your request.
