.kvkk_doc
    div
    p.c21
        span(style='\
        overflow: hidden;\
        display: inline-block;\
        margin: 0px 0px;\
        border: 0px solid #000000;\
        transform: rotate(0rad) translateZ(0px);\
        -webkit-transform: rotate(0rad) translateZ(0px);\
        width: 244px;\
        height: 88px;\
        ')
        img(alt='ok içeren bir resim\
        Açıklama otomatik olarak oluşturuldu' src='/images/kvkk_logo.png' style='\
        width: 244px;\
        height: 88px;\
        margin-left: -0px;\
        margin-top: -0px;\
        transform: rotate(0rad) translateZ(0px);\
        -webkit-transform: rotate(0rad) translateZ(0px);\
        ' title='')
    p.c11.c14.c26
    span.c4
    p.c11.c27
    span.c12.c29 AYDINLATMA METN&Idot;
    p.c6.c11.c14.c33
    span.c12.c1
    a(id='t.e26a2913f9bc16f5ac34e19ca7575a8a05615102')
    a(id='t.0')
    table.c34
    tr.c24
        td.c30(colspan='1' rowspan='1')
        p.c6
            span.c10.c1 Veri Sorumlusu
        td.c8(colspan='1' rowspan='1')
        p.c6.c11
            span.c1
            | T&uuml;rkiye&rsquo;nin Otomobili Giri&scedil;im Grubu Sanayi ve
            | Ticaret Anonim &Scedil;irketi (&lsquo;&lsquo;
            span.c1.c20 Togg
            span.c15.c1 &rsquo;&rsquo;)
    tr.c24
        td.c30(colspan='1' rowspan='1')
        p.c6
            span.c1.c10 Adres
        td.c8(colspan='1' rowspan='1')
        p.c11.c28
            span.c1.c5
            | Bili&scedil;im Vadisi, Muallimk&ouml;y Mahallesi, Deniz Caddesi,
            | No:143/1 41400 Gebze/Kocaeli-T&uuml;rkiye
    p.c7.c14
    span.c4
    p.c6.c11
    span.c0 Giri&scedil;
    p.c6.c11.c14
    span.c15.c1
    p.c6.c11
    span.c1
        | Togg olarak, ki&scedil;isel verilerinizin korunmas&imath;na y&uuml;ksek
        | derecede &ouml;nem vermekteyiz. &Idot;&scedil;bu Ayd&imath;nlatma Metni, 6698
        | say&imath;l&imath; Ki&scedil;isel Verilerin Korunmas&imath; Kanunu&rsquo;nun
    span.c20.c1 (&ldquo;Kanun&rdquo;
    span.c1 &nbsp;veya 
    span.c20.c1 &ldquo;KVKK&rdquo;)
    span.c15.c1
        | 10. maddesi ile Ayd&imath;nlatma
        | Yu&#x308;ku&#x308;mlu&#x308;lu&#x308;&gbreve;u&#x308;nu&#x308;n Yerine
        | Getirilmesinde Uyulacak Usul ve Esaslar Hakk&imath;nda Tebli&gbreve;
        | gere&gbreve;i, Togg Gemlik Kamp&uuml;s&uuml;&rsquo;n&uuml;n
        | a&ccedil;&imath;l&imath;&scedil; etkinli&gbreve;inde NFT
        | &ccedil;al&imath;&scedil;malar&imath; kapsam&imath;nda i&scedil;lenen
        | ki&scedil;isel veriler a&ccedil;&imath;s&imath;ndan siz davetlilerimizin bilgi
        | sahibi olmalar&imath;n&imath; sa&gbreve;lamak amac&imath;yla
        | haz&imath;rlanm&imath;&scedil;t&imath;r.
    p.c6.c11.c14
    span.c1.c15
    p.c6.c11
    span.c1
        | Togg Gemlik Kamp&uuml;s&uuml; a&ccedil;&imath;l&imath;&scedil; etkinli&gbreve;i
        | kapsam&imath;nda y&uuml;r&uuml;t&uuml;len NFT olu&scedil;turma
        | &ccedil;al&imath;&scedil;malar&imath; dahilinde elektronik formlar
        | arac&imath;l&imath;&gbreve;&imath;yla
    span.c20.c5.c1 kimlik
    span.c5.c1 &nbsp;(isim, soyisim), 
    span.c20.c5.c1 ileti&scedil;im 
    span.c5.c1
        | (e-posta adresi, NFT c&uuml;zdan adresi, i&scedil;yeri ismi-unvan&imath;)
        | kategorilerine dahil olan ki&scedil;isel verileriniz Togg taraf&imath;ndan
        | toplanmaktad&imath;r. Ki&scedil;isel verileriniz; NFT olu&scedil;turma
        | s&uuml;re&ccedil;lerinin y&uuml;r&uuml;t&uuml;lmesi, ileti&scedil;im
        | faaliyetlerinin y&uuml;r&uuml;t&uuml;lmesi, organizasyon ve etkinlik
        | y&ouml;netimi ama&ccedil;lar&imath;yla s&imath;n&imath;rl&imath; olarak
        | Kanun&rsquo;un 5. maddesinin 2. f&imath;kras&imath;nda d&uuml;zenleme
        | alt&imath;na al&imath;nan
    span.c5.c1.c19
        | &lsquo;&rsquo;&Idot;lgili ki&scedil;inin temel hak ve
        | &ouml;zg&uuml;rl&uuml;klerine zarar vermemek kayd&imath;yla, veri
        | sorumlusunun me&scedil;ru menfaatleri i&ccedil;in veri i&scedil;lenmesinin
        | zorunlu olmas&imath;.&rsquo;&rsquo;
    span.c2.c1 hukuki sebebi uyar&imath;nca i&scedil;lenmektedir.
    p.c6.c11.c14
    span.c2.c1
    p.c6.c11
    span.c1
        | Ki&scedil;isel verilerinizi yukar&imath;da say&imath;lan ama&ccedil;lar
        | dahilinde KVKK&rsquo;n&imath;n 8. maddesine uygun olarak ve gerekli teknik
        | ve idari tedbirleri alarak gerekmesi durumunda hukuki
        | y&uuml;k&uuml;ml&uuml;l&uuml;klerimizi yerine getirebilmek i&ccedil;in
        | yasal d&uuml;zenlemeler ve mevzuat gere&gbreve;i yetkili kamu, kurum ve
        | kurulu&scedil;lar&imath;na aktarmaktay&imath;z.
    p.c6.c11.c14
    span.c1.c2
    p.c7
    span.c0.c5
        | Ki&#x307;&scedil;i&#x307;sel Veri&#x307;leri&#x307;ni&#x307;ze
        | &Idot;li&#x307;&scedil;ki&#x307;n Haklar&imath;n&imath;z
    p.c7
    span.c2.c1 Ki&scedil;isel verilerinize ili&scedil;kin;
    p.c6.c11.c13
    span.c2.c1
        | &#x25CF;
        | Ki&scedil;isel
        | verilerinizin i&scedil;lenip i&scedil;lenmedi&gbreve;ini
        | &ouml;&gbreve;renme,
    p.c6.c13.c11
    span.c2.c1
        | &#x25CF;
        | Ki&scedil;isel
        | verileriniz i&scedil;lenmi&scedil;se buna ili&scedil;kin bilgi talep etme,
    p.c6.c13.c11
    span.c2.c1
        | &#x25CF;
        | Ki&scedil;isel
        | verilerin i&scedil;lenme amac&imath;n&imath; ve bunlar&imath;n amac&imath;na
        | uygun kullan&imath;l&imath;p kullan&imath;lmad&imath;&gbreve;&imath;n&imath;
        | &ouml;&gbreve;renme,
    p.c6.c13.c11
    span.c2.c1
        | &#x25CF; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Yurt
        | i&ccedil;inde veya yurt d&imath;&scedil;&imath;nda ki&scedil;isel verilerinizin
        | aktar&imath;ld&imath;&gbreve;&imath; &uuml;&ccedil;&uuml;nc&uuml; ki&scedil;ileri
        | bilme,
    p.c6.c13.c11
    span.c2.c1
        | &#x25CF;
        | Ki&scedil;isel
        | verilerinizin eksik veya yanl&imath;&scedil; i&scedil;lenmi&scedil; olmas&imath;
        | halinde bunlar&imath;n d&uuml;zeltilmesini isteme,
    p.c6.c13.c11
    span.c2.c1
        | &#x25CF; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;KVKK
        | mevzuat&imath;nda &ouml;ng&ouml;r&uuml;len &scedil;artlar
        | &ccedil;er&ccedil;evesinde ki&scedil;isel verilerinizin silinmesini veya yok
        | edilmesini isteme,
    p.c6.c13.c11
    span.c2.c1
        | &#x25CF; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Eksik veya
        | yanl&imath;&scedil; verilerin d&uuml;zeltilmesi ile ki&scedil;isel
        | verilerinizin silinmesi veya yok edilmesini talep etti&gbreve;inizde, bu
        | durumun ki&scedil;isel verilerinizi aktard&imath;&gbreve;&imath;m&imath;z
        | &uuml;&ccedil;&uuml;nc&uuml; ki&scedil;ilere bildirilmesini isteme,
    p.c6.c13.c11
    span.c2.c1
        | &#x25CF;
        | &Idot;&scedil;lenen
        | verilerin m&uuml;nhas&imath;ran otomatik sistemler vas&imath;tas&imath;yla
        | analiz edilmesi suretiyle ki&scedil;inin kendisi aleyhine bir sonucun ortaya
        | &ccedil;&imath;kmas&imath;na itiraz etme ve
    p.c3
    span.c2.c1
        | &#x25CF;
        | Ki&scedil;isel
        | verilerin kanuna ayk&imath;r&imath; olarak i&scedil;lenmesi sebebiyle zarara
        | u&gbreve;raman&imath;z halinde bu zarar&imath;n giderilmesini talep etme
    p.c7
    span.c2.c1 haklar&imath;na sahipsiniz.
    p.c6.c11
    span.c0 Haklar&imath;n&imath;z&imath; Nas&imath;l Kullanabilirsiniz?
    p.c23.c11
    span.c15.c1
        | Ki&scedil;isel verileriniz ile ilgili ba&scedil;vuru ve taleplerinizi;
    ul.c31.lst-kix_list_1-0.start
    li.c9.c23.li-bullet-0
        span.c5.c18.c1 togg.kvkk@togg.com.tr
        span.c15.c1
        | adresine elektronik posta g&ouml;ndererek,
    li.c6.c9.li-bullet-0
        span.c15.c1 Ge&ccedil;erli bir kimlik belgesi ile bizzat ba&scedil;vurarak,
    li.c6.c9.li-bullet-0
        span.c1 Islak imzal&imath; ve kimlik fotokopisi ile
        span.c5.c1
        | Bili&scedil;im Vadisi, Muallimk&ouml;y Mahallesi Deniz Caddesi
        | No:143/1 41400 Gebze/Kocaeli
        span.c15.c1 adresine g&ouml;ndererek,
    li.c6.c9.li-bullet-0
        span.c1 Mobil imza veya g&uuml;venli elektronik imza ile imzalay&imath;p 
        span.c5.c1.c18 togg.kvkk@togg.com.tr
        span.c15.c1 &nbsp;adresine e-posta g&ouml;ndererek,
    li.c7.c16.li-bullet-0
        span.c1
        | Kay&imath;tl&imath; elektronik posta (KEP) adresi ve g&uuml;venli
        | elektronik imza ya da mobil imza kullanmak suretiyle
        span.c5.c18.c1.c32 turkiyeninotomobili@hs01.kep.tr
        span.c15.c1
        | kay&imath;tl&imath; elektronik posta (KEP) adresine
        | g&ouml;ndererek
    p.c11.c17
    span.c1 Togg&rsquo;a iletebilirsiniz.
    p.c25.c11
    span.c2.c1
        | Veri Sorumlusuna Ba&scedil;vuru Usul ve Esaslar&imath; Hakk&imath;nda
        | Tebli&gbreve; uyar&imath;nca, &Idot;lgili Ki&scedil;i&rsquo;nin,
        | ba&scedil;vurusunda isim, soyisim, ba&scedil;vuru yaz&imath;l&imath; ise imza,
        | T.C. kimlik numaras&imath;, (ba&scedil;vuruda bulunan ki&scedil;inin
        | yabanc&imath; olmas&imath; halinde pasaport numaras&imath;), tebligata esas
        | yerle&scedil;im yeri veya i&scedil; yeri adresi, varsa bildirime esas
        | elektronik posta adresi, telefon numaras&imath; ve faks numaras&imath; ile
        | talep konusuna dair bilgilerin bulunmas&imath; zorunludur.
    p.c11.c25
    span.c2.c1
        | &Idot;lgili Ki&scedil;i, yukar&imath;da belirtilen haklar&imath; kullanmak
        | i&ccedil;in yapaca&gbreve;&imath; ve kullanmay&imath; talep etti&gbreve;i hakka
        | ili&scedil;kin a&ccedil;&imath;klamalar&imath; i&ccedil;eren ba&scedil;vuruda
        | talep edilen hususu a&ccedil;&imath;k ve anla&scedil;&imath;l&imath;r
        | &scedil;ekilde belirtilmelidir. Ba&scedil;vuruya ili&scedil;kin bilgi ve
        | belgelerin ba&scedil;vuruya eklenmesi gerekmektedir.
    p.c7
    span.c2.c1
        | Talep konusunun ba&scedil;vuran&imath;n &scedil;ahs&imath; ile ilgili
        | olmas&imath; gerekmekle birlikte, ba&scedil;kas&imath; ad&imath;na hareket
        | ediliyor ise ba&scedil;vuruyu yapan&imath;n bu konuda &ouml;zel olarak
        | yetkili olmas&imath; ve bu yetkinin belgelendirilmesi (vek&acirc;letname)
        | gerekmektedir. Ayr&imath;ca ba&scedil;vurunun kimlik ve adres bilgilerini
        | i&ccedil;ermesi ve ba&scedil;vuruya kimli&gbreve;i do&gbreve;rulay&imath;c&imath;
        | belgelerin eklenmesi gerekmektedir.
    p.c6.c11
    span.c2.c1
        | Yetkisiz &uuml;&ccedil;&uuml;nc&uuml; ki&scedil;ilerin ba&scedil;kas&imath;
        | ad&imath;na yapt&imath;&gbreve;&imath; talepler de&gbreve;erlendirmeye
        | al&imath;nmayacakt&imath;r.
    p.c6.c11.c14
    span.c2.c1
    p.c6.c11
    span.c12.c5.c1
        | Ki&scedil;isel Verilerinizin &Idot;&scedil;lenmesine &Idot;li&scedil;kin
        | Talepleriniz Ne Kadar S&uuml;rede Cevaplan&imath;r?
    p.c6.c11.c14
    span.c5.c1.c12
    p.c6.c11
    span.c5.c1
        | Ki&scedil;isel verilerinize ili&scedil;kin hak talepleriniz
        | de&gbreve;erlendirilerek, ilgili departmana ula&scedil;t&imath;&gbreve;&imath;
        | tarihten itibaren
    span.c32.c5.c1 en ge&ccedil;
    span.c2.c1
        | 30 g&uuml;n i&ccedil;erisinde cevaplan&imath;r. Ba&scedil;vurunuzun
        | olumsuz de&gbreve;erlendirilmesi halinde, gerek&ccedil;eli ret sebepleri
        | ba&scedil;vuruda belirtti&gbreve;iniz adrese elektronik posta veya posta yolu
        | ba&scedil;ta olmak &uuml;zere e&gbreve;er m&uuml;mk&uuml;nse talebin
        | yap&imath;ld&imath;&gbreve;&imath; usul vas&imath;tas&imath;yla size
        | iletilir.
