.kvkk_doc {
    color: #000000;
}
.lst-kix_list_1-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_list_1-4 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_list_1-0 {
  list-style-type: none;
}
.lst-kix_list_1-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_list_1-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_list_1-6 > li:before {
  content: "\0025cf  ";
}
li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt;
}
ul.lst-kix_list_1-3 {
  list-style-type: none;
}
.lst-kix_list_1-0 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_list_1-4 {
  list-style-type: none;
}
.lst-kix_list_1-8 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_list_1-1 {
  list-style-type: none;
}
ul.lst-kix_list_1-2 {
  list-style-type: none;
}
ul.lst-kix_list_1-7 {
  list-style-type: none;
}
.lst-kix_list_1-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_list_1-2 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_list_1-8 {
  list-style-type: none;
}
ul.lst-kix_list_1-5 {
  list-style-type: none;
}
ul.lst-kix_list_1-6 {
  list-style-type: none;
}
ol {
  margin: 0;
  padding: 0;
}
table td,
table th {
  padding: 0;
}
.c30 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  background-color: #27bed1;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 100.5pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c8 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 372pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c0 {
  -webkit-text-decoration-skip: none;
  color: #000000;
  font-weight: 700;
  text-decoration: underline;
  vertical-align: baseline;
  text-decoration-skip-ink: none;
  font-size: 10pt;
  font-family: "Arial";
  font-style: normal;
}
.c3 {
  margin-left: 54pt;
  padding-top: 0pt;
  text-indent: -18pt;
  padding-bottom: 10pt;
  line-height: 1.5;
  orphans: 2;
  widows: 2;
  text-align: justify;
}
.c4 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}
.c28 {
  padding-top: 0pt;
  border-bottom-color: #000000;
  border-bottom-width: 0pt;
  padding-bottom: 7pt;
  line-height: 1.5;
  border-bottom-style: solid;
  text-align: justify;
}
.c2 {
  background-color: #ffffff;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Arial";
  font-style: normal;
}
.c12 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Arial";
  font-style: normal;
}
.c15 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Arial";
  font-style: normal;
}
.c10 {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Arial";
  font-style: normal;
}
.c7 {
  padding-top: 0pt;
  padding-bottom: 10pt;
  line-height: 1.5;
  orphans: 2;
  widows: 2;
  text-align: justify;
}
.c27 {
  padding-top: 0pt;
  text-indent: 0.8pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  text-align: center;
}
.c6 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  text-align: justify;
}
.c25 {
  padding-top: 12pt;
  padding-bottom: 12pt;
  line-height: 1.5;
  text-align: justify;
}
.c17 {
  padding-top: 0pt;
  padding-bottom: 12pt;
  line-height: 1.5;
  text-align: justify;
}
.c9 {
  margin-left: 36pt;
  padding-left: 0pt;
  orphans: 2;
  widows: 2;
}
.c26 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1500000000000001;
  text-align: left;
}
.c34 {
  border-spacing: 0;
  border-collapse: collapse;
  margin-right: auto;
}
.c23 {
  padding-top: 12pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  text-align: justify;
}
.c21 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c32 {
  -webkit-text-decoration-skip: none;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.c22 {
  max-width: 468pt;
  padding: 72pt 72pt 72pt 72pt;
}
.c13 {
  margin-left: 54pt;
  text-indent: -18pt;
}
.c11 {
  orphans: 2;
  widows: 2;
}
.c31 {
  padding: 0;
  margin: 0;
}
.c16 {
  margin-left: 36pt;
  padding-left: 0pt;
}
.c19 {
  font-style: italic;
}
.c20 {
  font-weight: 700;
}
.c5 {
  background-color: #ffffff;
}
.c18 {
  color: #1155cc;
}
.c24 {
  height: 48.7pt;
}
.c33 {
  text-indent: 0.8pt;
}
.c29 {
  font-size: 11pt;
}
.c14 {
  height: 11pt;
}
.c1 {
  font-size: 10pt;
}
.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}
p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}
h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}